body {      /* Tipo y color de la fuente para toda la web. */
    background-color: rgb(246, 245, 206);
    font-family: 'monospace';
    color: black;
}

h1 {        /* Título principal */
    font-weight: bolder;
    text-align: center;
    background-color: rgb(250, 243, 243);
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;      
    margin: 5px;
}

b {     /* Aumento la fuente de los títulos de la lista */
    font-size: 22px;
}

.container{
    display: inline-table;
    background-color:  rgb(250, 243, 243);
    text-align: left;
    border-radius: 10px;
    border: 3px solid black;
    height: 950px;
    width: 732px;
    padding: 3px;      
    margin: 3px;
}

.graphs {        /* Clase imagenes. */
    margin-top: 13px;
    width: 670px;
    height: 470px;
    border: 2px solid black;
    border-radius: 5px;
}